* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Helvetica;
    color: #FFFFFF;
    overflow-x: hidden;
}

header,
footer {
    flex: none;
    background-color: #0d0d0d;
    width: 100%;
    z-index: 100;
    display: flex;
}

header {
    justify-content: flex-start;
    align-items: center;
}

header nav {
    padding: 16px 30px 16px 30px;
}

footer {
    font-size: 12px;
    justify-content: center;
}

footer nav {
    padding: 2px 0 2px 0px;
}

header * {
    display: inline-flex;
}

.navbutton {
    background-color: #0d0d0d;
    font-weight: 500;
    padding: 0 10px 0 10px;
    border: none;
    color: #FFFFFF;
    font-size: 30px;
}

@media only screen and (min-width: 960px) {
    .navbutton span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
        outline: none;
    }
    .navbutton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .navbutton:hover span {
        padding-right: 25px;
    }
    .navbutton:hover span:after {
        opacity: 1;
        right: 0;
    }
}

main {
    display: flex;
    overflow-y: auto;
    flex: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    text-shadow: 3px 3px black;
}

main p {
    padding: 10px;
}

.icons {
    margin: 5px;
}

.icons i {
    color: #FFFFFF;
    margin: 5px;
}

.icons i:hover {
    color: #8A8A8A;
    transition: color 0.2s;
}

.circular {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    -webkit-filter: drop-shadow(12px 12px 24px rgba(0, 0, 0, 0.5));
}

.circular img {
    width: auto;
    height: 100%;
}

.enigmaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input {
    flex: auto;
}

#output {
    flex: auto;
    background-color: white;
    text-shadow: 0px 0px black;
    color: black;
    padding: 20px;
    border-radius: 25px;
}

.rotors {
    display: flex;
    flex-direction: row-reverse;
}

.enigmakey {
    background-color: #0d0d0d;
    border: 5px;
    border-color: lightgray;
    color: #FFFFFF;
    padding: 20px;
    font-size: 16px;
    margin: 6px 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@media only screen and (max-width: 960px) {
    .circular {
        width: 250px;
        height: 250px;
    }
    .navbutton {
        font-size: 20px;
        padding: 0 5px 0 5px;
    }
    header {
        justify-content: center;
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.keyboard_row {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    margin: 0.2em;
}

.keyboard_row .letter {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard_row .letter[data-pressed] {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.letter {
    line-height: 2.8em;
}

.keyboard .keyboard_row {
    text-align: center;
}