body {
    background-color: #333333;
    font-family: Helvetica;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    margin-top: 18%
}

header {
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 8%;
    display: flex;
    z-index: 100;
}

header * {
    display: inline-flex;
}

.navbutton {
    background-color: #0d0d0d;
    border: none;
    color: white;
    font-size: 30px;
}

.navbutton span {
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.navbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.navbutton:hover span {
    padding-right: 25px;
}

.navbutton:hover span:after {
    opacity: 1;
    right: 0;
}

main {
    color: white;
    /* align-self: center; */
    /* align-items: center; */
    font-size: 30px;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
}

.icons {
    /* align-self: center; */
    /* align-items: center; */
}

.icons i {
    color: white;
    margin: 5px;
}

.circular {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.circular img {
    width: auto;
    height: 100%;
}

.enigmakey {
    background-color: #0d0d0d;
    border: 5px;
    border-color: lightgray;
    color: white;
    padding: 20px;
    font-size: 16px;
    margin: 6px 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@media only screen and (max-width: 400px) {
    body {
        margin-top: 50%;
    }
    .circular {
        width: 200px;
        height: 200px;
    }
    .navbutton {
        font-size: 10px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        margin-top: 40%
    }
    .circular {
        width: 300px;
        height: 300px;
    }
    .navbutton {
        font-size: 20px;
    }
}